<section id="customers" class="customers">
    <div class="container">
        <h2 class="customers__title">What our Customers Say</h2>
        <p class="customers__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers__list">
            <li class="customers__item">
                <svg class="customers__icon" width="101" height="16">
                    <use href="./images/symbol-defs.svg#icon-stars"></use>
                </svg>
                <p class="customers__say">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to
                    a freind, No questions asked”</p>
                <div class="customers__wrap">
                    <div>
                        <img
                            srcset="./images/desktop/customers/man48x48.png 1x,
                                    ./images/desktop/customers/man96x96@2x.png 2x"
                            src="./images/desktop/customers/man48x48.png"
                            alt="man's photo"
                            width="48"
                            height="48"
                        />
                    </div>
                    <div class="customers__data">
                        <h3 class="customers__name">Sumith Shah</h3>
                        <p class="customers__role">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="customers__item">
                <svg class="customers__icon" width="101" height="16">
                    <use href="./images/symbol-defs.svg#icon-stars"></use>
                </svg>
                <p class="customers__say">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant
                    experience ordering from this app”</p>
                <div class="customers__wrap">
                    <div class="customers__photo">
                        <img
                            srcset="./images/desktop/customers/women48x48.png 1x,
                                    ./images/desktop/customers/women96x96@2x.png 2x"
                            src="./images/desktop/customers/women48x48.png"
                            alt="women's photo"
                            width="48"
                            height="48"
                        />
                    </div>
                    <div class="customers__data">
                        <h3 class="customers__name">Sumith Shah</h3>
                        <p class="customers__role">Some Dude</p>
                    </div>
            </li>
        </ul>
    </div>    
</section>