<section class="favorites">
    <div class="container">
        <h2 class="favorites__title">Some of Our Favorites</h2>
        <p class="favorites__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <a class="favorites__link" href="#">
                    <picture>
                        <source srcset="/src/images/mobile/favorites/gamburger224x224.png 1x, /src/images/mobile/favorites/gamburger448x448@2x.png 2x" media="(max-width:767.99px">
                        <img src="/src/images/mobile/favorites/gamburger224x224.png" alt="hamburger" srcset="/src/images/mobile/favorites/gamburger448x448@2x.png 2x" >
                    </picture>            
                </a>         
            </li>
            <li class="favorites__item">
                <a class="favorites__link" href="#">
                    <picture>
                        <source
                            srcset="/src/images/mobile/favorites/pasta224x224.png 1x, /src/images/mobile/favorites/pasta448x448@2x.png 2x"
                            media="(max-width:767.99px">
                        <img src="/src/images/mobile/favorites/pasta224x224.png" alt="hamburger"
                            srcset="/src/images/mobile/favorites/pasta448x448@2x.png 2x">
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a class="favorites__link" href="#">
                    <picture>
                        <source
                            srcset="/src/images/mobile/favorites/pizza224x224.png 1x, /src/images/mobile/favorites/pizza448x448@2x.png 2x"
                            media="(max-width:767.99px">
                        <img src="/src/images/mobile/favorites/pizza224x224.png" alt="hamburger"
                            srcset="/src/images/mobile/favorites/pizza448x448@2x.png 2x">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>