<footer class="footer">
  <div class="container">
    <div class="footer__item">
      <div class="nav-site footer__nav-site">
        <a href="./index.html" class="logo logo--footer">
          <picture>
            <source srcset="./images/logo/logo69x51.png 69w, ./images/logo/logo69x51@2x.png 138w" sizes="66px" />
            <img src="./images/logo/logo69x51.png" alt="logo" width="66" height="52" />
          </picture>
        </a>
        <ul class="nav-site__list nav-site__list--footer">
          <li class="nav-site__item nav-site__item--footer">
            <a href="./index.html" class="nav-site__link nav-site__link--footer link">Home</a>
          </li>
          <li class="nav-site__item nav-site__item--footer">
            <a href="#offerings" class="nav-site__link nav-site__link--footer link">Offerings</a>
          </li>
          <li class="nav-site__item nav-site__item--footer">
            <a href="#favorites" class="nav-site__link nav-site__link--footer link">Favorites</a>
          </li>
          <li class="nav-site__item nav-site__item--footer">
            <a href="#customers" class="nav-site__link nav-site__link--footer link">Customers Say</a>
          </li>
          <li class="nav-site__item nav-site__item--footer">
            <a href="#subscribe" class="nav-site__link nav-site__link--footer link">Subscribe</a>
          </li>
        </ul>
      </div>
      <div class="subs-box">
        <p class="subs-box__title">Subscribe</p>
        <form class="subscribe-form">
          <input
            type="email"
            class="subscribe-form__input subscribe-form__input--footer"
            name="mail"
            placeholder="Enter your email"
          />
          <div class="subscribe-form__box">
            <button type="submit" class="button button--subscribe-white">Subscribe</button>
          </div>
        </form>
        <p class="subs-box__text">
          By subscribing you agree to with our
          <a href="" class="subs-box__link">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__item-add">
      <ul class="additional-nav">
        <li class="additional-nav__item">
          <a href="" class="additional-nav__link">Privacy Policy</a>
        </li>
        <li class="additional-nav__item">
          <a href="" class="additional-nav__link">Terms of Service</a>
        </li>
        <li class="additional-nav__item">
          <a href="" class="additional-nav__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
