<footer>
  <div class="container__footer">
    <ul class="nav-site__list">
      <li class="nav-site__item">
        <a href="" class="nav-site__link">Home</a>
      </li>
      <li class="nav-site__item">
        <a href="" class="nav-site__link">About</a>
      </li>
      <li class="nav-site__item">
        <a href="" class="nav-site__link">Service</a>
      </li>
      <li class="nav-site__item">
        <a href="" class="nav-site__link">Menu</a>
      </li>
      <li class="nav-site__item">
        <a href="" class="nav-site__link">Contact</a>
      </li>
    </ul>
    <div class="subs-box">
      <form class="subscription-field">
        <p class="mailing">Subscribe</p>
        <div class="mailing-box">
          <div class="mailing-field">
            <input type="email" class="mailing-form" name="mail" placeholder="Enter your email" />
            <label id="subscription-field" class="mailing-label"></label>
          </div>
          <button type="submit" class="button-subs button">
            <span class="button-subs__name">Subscribe</span>
          </button>
        </div>
      </form>
    </div>
    <div class="privacy-policy">
      By subscribing you agree to with our
      <a href="" class="privacy-policy__link">Privacy Policy</a>
    </div>
    <ul class="terms-of-service">
      <li class="terms-of-service__item">
        <a href="" class="terms-of-service__link">Privacy Policy</a>
      </li>
      <li class="terms-of-service__item">
        <a href="" class="terms-of-service__link">Terms of Service</a>
      </li>
      <li class="terms-of-service__item">
        <a href="" class="terms-of-service__link">Cookies Settings</a>
      </li>
    </ul>
    <span>2022 FoodSta. All right reserved.</span>
  </div>
</footer>
