<footer class="footer">
  <div class="container">
    <div class="footer__item">
      <a href="./index.html" class="logo"></a>
      <ul class="nav-site__list">
        <li class="nav-site__item">
          <a href="" class="nav-site__link">Home</a>
        </li>
        <li class="nav-siteitem">
          <a href="" class="nav-site__link">About</a>
        </li>
        <li class="nav-siteitem">
          <a href="" class="nav-site__link">Service</a>
        </li>
        <li class="nav-siteitem">
          <a href="" class="nav-site__link">Menu</a>
        </li>
        <li class="nav-siteitem">
          <a href="" class="nav-site__link">Contact</a>
        </li>
      </ul>
      <div class="subs-box">
        <p class="subs-boxtitle">Subscribe</p>
        <form class="subscribe-form">
          <input type="email" class="subscribe-form__input" name="mail" placeholder="Enter your email" />
          <button type="submit" class="subscribe-form__btn button">Subscribe</button>
        </form>
      </div>
      <div class="subs-box__text">
        By subscribing you agree to with our
        <a href="" class="subs-box__link">Privacy Policy</a>
      </div>
    </div>
    <div class="footer__item">
      <ul class="additional-nav">
        <li class="additional-nav__item">
          <a href="" class="additional-nav__link">Privacy Policy</a>
        </li>
        <li class="additional-navitem">
          <a href="" class="additional-nav__link">Terms of Service</a>
        </li>
        <li class="additional-navitem">
          <a href="" class="additional-nav__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
