<header class="header">
  <div class="container">
    <nav class="nav-site">
      <a href="./index.html" class="logo">
        <picture>
          <source srcset="./images/logo/logo69x51.png 69w, ./images/logo/logo69x51@2x.png 138w" sizes="66px" />
          <img src="./images/logo/logo69x51.png" alt="logo" width="66" height="52" />
        </picture>
      </a>
      <ul class="nav-site__list nav-site__list--header">
        <li class="nav-site__item nav-site__item--header"><a href="./index.html" class="nav-site__link">Home</a></li>
        <li class="nav-site__item nav-site__item--header"><a href="#offerings" class="nav-site__link">Offerings</a></li>
        <li class="nav-site__item nav-site__item--header"><a href="#favorites" class="nav-site__link">Favorites</a></li>
        <li class="nav-site__item nav-site__item--header">
          <a href="#customers" class="nav-site__link">Customers Say</a>
        </li>
        <li class="nav-site__item nav-site__item--header"><a href="#subscribe" class="nav-site__link">Subscribe</a></li>
      </ul>
      <button type="button" class="button button--order-green header__button" data-modal-open>Order Now</button>
      <button type="button" class="open-menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg height="28" width="28" class="open-menu__icon">
          <use href="./images/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
