<header class="header">
  <div class="container">
    <nav class="nav-site">
      <a href="./index.html" class="logo"><img src="./images/logo/logo69x51.png"/></a>
      <ul class="nav-site__list">
        <li class="nav-site__item"><a href="#" id="#" class="nav-site__link">Home</a></li>
        <li class="nav-site__item"><a href="#" id="#" class="nav-site__link">Offerings</a></li>
        <li class="nav-site__item"><a href="#" id="#" class="nav-site__link">Favorites</a></li>
        <li class="nav-site__item"><a href="#" id="#" class="nav-site__link">Customers Say</a></li>
        <li class="nav-site__item"><a href="#" id="#" class="nav-site__link">Subscribe</a></li>
      </ul>
      <button type="button" class="button button--order-green">Order Now</button>
      <button type="button" class="open-menu" aria-label="switch" aria-expanded="false">
        <svg height="28" width="28">
          <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    
  </div>
</header>
