<!-- hero -->
<section class="hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
      cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="hero__btn">Order Now</button>
    <div class="slider">
      <picture>
        <source
        media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./images/tablet/slider/bg320x320.png x1, ./images/tablet/slider/bg640x640@2x.png x2"
          
          type="image/png"
        />
        <source
        srcset="./images/desktop/slider/bg580x580.png x1, ./images/desktop/slider/bg1160x1160@2x.png x2"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img src="./images/tablet/slider/bg320x320.png" alt="bg-circle"/>
      </picture>
    </div>
  </div>
</section>
