<div class="menu-mob js-menu-container" id="mobile-menu">
  <button class="close-btn js-close-menu">
    <svg width="24px" height="24px">
      <use href="./images/symbol-defs.svg#icon-close-modal" class="close-btn__icon"></use>
    </svg>
  </button>
  <ul class="menu-mob__list">
    <li class="menu-mob__item">
      <!-- <a href="#hero" class="menu-mob__link link">Home</a> -->
      <a href="./index.html" class="menu-mob__link link">Home</a>
    </li>
    <li class="menu-mob__item">
      <a href="#offerings" class="menu-mob__link link">Offerings</a>
    </li>
    <li class="menu-mob__item">
      <a href="#favorites" class="menu-mob__link link">Favorites</a>
    </li>
    <li class="menu-mob__item">
      <a href="#customers" class="menu-mob__link link">Customers Say</a>
    </li>
    <li class="menu-mob__item">
      <a href="#subscribe" class="menu-mob__link link">Subscribe</a>
    </li>
  </ul>
</div>
