<section id="offerings" class="offerings">
  <div class="container offerings__container">
    <picture>
      <source
        srcset="
          ./images/desktop/offerings/apple550x607.png       550w,
          ./images/desktop/offerings/apple1100x1214@2x.png 1100w
        "
        type="image/png"
        media="(min-width: 1280px)"
        sizes="550px"
      />
      <source
        srcset="./images/tablet/offerings/apple712x402.png 704w, ./images/tablet/offerings/apple1424x804@2x.png 1408w"
        type="image/png"
        media="(min-width: 768px) and (max-width: 1280px)"
        sizes="704px"
      />
      <source
        srcset="./images/mobile/offerings/apple280x309.png 280w, ./images/mobile/offerings/apple560x618@2x.png 560w"
        type="image/png"
        media="(max-width: 768px)"
        sizes="280px"
      />
      <img src="./images/mobile/offerings/apple280x309.png" alt="яблуко" class="offerings__img" />
    </picture>

    <div class="offerings__wrap">
      <h2 class="offerings__header">What’s Special About Our Offerings</h2>
      <p class="offerings__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list">
        <li class="offerings__item offerings__item--deliv">
          <h3 class="offerings__title">Fasest Delivery</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          </p>
        </li>
        <li class="offerings__item offerings__item--order">
          <h3 class="offerings__title">Easy to order</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          </p>
        </li>
      </ul>
      <ul class="btn-list">
        <li class="btn-list__item">
          <button type="button" class="button button--order-white" data-modal-open-offer>Order Now</button>
        </li>
        <li class="btn-list__item">
          <button type="button" class="btn-list__button">
            Read More<svg width="14" height="14" class="btn-list__icon">
              <use href="./images/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
