<section class="subscribe">
  <div class="container">
    <picture>
      <source srcset="#" />
      <img src="#" alt="#" />
    </picture>
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    <form class="subscribe-form">
      <input class="subscribe-form__input" type="email" name="email" placeholder="Enter your email"/>
      <button class="subscribe-form__button" type="submit">Subscribe</button>
    </form>
  </div>
</section>
