<section id="subscribe" class="subscribe">
  <div class="container subscribe__container">
    <picture>
      <source
        srcset="./images/desktop/subscribe/banan564x266.png 546w, ./images/desktop/subscribe/banan1092x532@2x.png 1092w"
        media="(min-width: 1280px)"
        sizes="546px"
      />
      <source
        srcset="./images/tablet/subscribe/banan281x136.png 281w, ./images/tablet/subscribe/banan562x272@2x.png 562w"
        media="(min-width: 768px)"
        sizes="281px"
      />
      <source
        srcset="./images/mobile/subscribe/banan280x78.png 280w, ./images/mobile/subscribe/banan560x156@2x.png 560w"
        media="(max-width: 767px)"
        sizes="280px"
      />
      <img src="./images/desktop/subscribe/banan564x266.png" alt="Banana" class="subscribe__img" />
    </picture>
    <div class="subscribe__wraper">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>
      <form class="subscribe-form">
        <input class="subscribe-form__input" type="email" name="email" placeholder="Enter your email" />
        <button class="button button--subscribe-green" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
