.customers {
  padding: 60px 0;

  background-image: url(../images/mobile/customers/bg320x769.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;

  @include retina {
    background-image: url(../images/mobile/customers/bg640x1538@2x.png);
  }

  @include mobile {
    background-image: url(../images/mobile/customers/bg480x769.png);

    @include retina {
      background-image: url(../images/mobile/customers/bg960x1538@2x.png);
    }
  }

  @include tablet {
    background-image: url(../images/tablet/customers/bg768x544.png);
    padding-bottom: 120px;

    @include retina {
      background-image: url(../images/tablet/customers/bg1536x1108@2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/desktop/customers/bg1280x647.png);
    padding: 100px 0 200px 0;

    @include retina {
      background-image: url(../images/desktop/customers/bg2560x1294@2x.png);
    }
  }
}

.customers__title {
  @include fontSize(28px, 1.18);

  margin-bottom: 20px;

  @include tablet {
    @include fontSize(42px, 1.17);
  }
}

.customers__description {
  @include fontSize(14px, 1.14);

  margin-bottom: 32px;

  @include tablet {
    @include fontSize(16px, 1.19);
  }
}

.customers__list {
  display: grid;
  grid-gap: 24px;

  @include tablet {
    display: flex;
    grid-gap: 32px;
  }

  @include desktop {
    grid-gap: 139px;
  }
}

.customers__item {
  border-radius: 0px 30px 30px 30px;
  padding: 8px;
  background-color: $primary-background-color;

  @include tablet {
    max-width: 336px;
    padding: 12px;
  }

  @include desktop {
    max-width: 500px;
    padding: 14px;
  }
}

.customers__icon {
  display: block;
  margin-bottom: 28px;
}

.customers__say {
  @include fontSize(16px, 1.19);
  font-weight: 700;

  margin-bottom: 40px;

  @include tablet {
    @include fontSize(18px, 1.17);
  }
}

.customers__wrap {
  display: flex;
  grid-gap: 16px;
}

.customers__data {
  display: grid;
  grid-gap: 2px;

  padding-right: 15px;

  border-right: 0.85px solid $secondary-green-accent;
}

.customers__name {
  @include fontSize(14px, 1.5);
  font-weight: 500;
}

.customers__role {
  @include fontSize(14px, 1.5);
}
