.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  padding: 60px 0;
  background-image: url('../images/mobile/footer/footer320x619.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include retina {
    background-image: url('../images/mobile/footer/footer640x1238@2x.png');
  }

  @include tablet {
    padding: 100px 0px;

    background-image: url('../images/tablet/footer/bg768x506.png');
    @include retina {
      background-image: url('../images/tablet/footer/bg1570x1012@2x.png');
    }
  }
  @include desktop {
    background-image: url('../images/desktop/footer/bg1211x266.png');
    @include retina {
      background-image: url('../images/desktop/footer/bg2422x532@2x.png');
    }
  }
}

.footer__item {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.logo--footer {
  padding: 0;
}

.footer__nav-site {
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: start;
  }

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.nav-site__list--footer {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: start;
    margin-right: 81px;
  }
  @include tablet {
    margin: 0 0 0 114px;
  }
}

.nav-site__item.nav-site__item--footer {
  @media screen and (max-width: 767px) {
    margin: 0 0 20px 0;
  }
  @include tablet {
    margin: 0 28px 0 0;
  }
}
.nav-site__link--footer {
  padding: 0;
  margin: 0;
}

.subs-box__title {
  @include fontSize(14px, 1.5);
  font-weight: 500;
  margin-bottom: 12px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}

.subscribe-form__input--footer {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-right: 13px;
    width: 279px;
  }
}

.subscribe-form__box {
  display: flex;
  justify-content: end;
}

.subs-box__text {
  margin-top: 20px;
  @include fontSize(10px, 1.2);
  @include tablet {
    @include fontSize(12px, 1.17);
    margin-top: 12px;
    margin-bottom: 100px;
  }
  @include desktop {
    margin: 12px 0 80px 0;
  }
}

.subs-box__link {
  color: $secondary-green-accent;
}

.footer__item-add {
  @include tablet {
    display: flex;
    align-items: baseline;
  }
}

.additional-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  @include tablet {
    margin: 0;
  }
}

.additional-nav__link {
  @include fontSize(10px, 1.2);
  color: $secondary-green-accent;
  @include tablet {
    @include fontSize(12px, 1.17);
    margin-right: 20px;
  }
}

.copyright {
  margin-top: 40px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @include fontSize(10px, 1.2);
  @include tablet {
    margin-top: 0;
    margin-left: auto;
    @include fontSize(12px, 1.17);
  }
}
