.hero{

    
    &_title{
        @include fontSize(28px, 33px);
    }
    &_text{
        @include fontSize(14px, 150%);
    }
    &_btn{
        @include fontSize(13px, 150%);
        width: 98px;
        height: 32px;
        border-radius: 30px;
        background-color: $primary-green-accent;
        border: none;
    }
}